.to-do-list-container{
    background-color: #d1d1d1da;
    max-width: 600px;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.line-block{
    border: 2px solid  #fff;
    width: 100%;
    margin: 20px  0;
}